@model IEnumerable<WebBanHang.Models.Product>

@{
    ViewBag.Title = "ByCat";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section css{ 
    <style type="text/css">
        .cell-modify{
            margin: 5px 5px 5px 5px;
            height: 500px;
        }
    </style>
}
<div class="container">
    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
        <h3 class="title">New <span>USB</span></h3>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated cell-modify" data-wow-delay=".5s">
            <div class="new-top">
                <a href="single.html">
                    <img src="~/images/1.jpg" class="img-responsive" />
                </a>
                <div class="new-text">
                    <ul>
                        <li><a class="item_add" href=""> Add to cart</a></li>
                        <li><a href="single.html">Quick View </a></li>
                        <li><a href="@Url.Action("Detail","Product", new { id = item.ProID })">Show Details </a></li>
                    </ul>
                </div>
            </div>
            <div class="new-bottom">
                <h5><a class="name" href="single.html"> @item.ProName </a></h5>
                <div class="rating">
                    <span class="on">☆</span>
                    <span class="on">☆</span>
                    <span class="on">☆</span>
                    <span class="on">☆</span>
                    <span>☆</span>
                </div>
                <div class="ofr">
                    <p class="pric1"><del>$2000.00</del></p>
                    <p><span class="item_price">$500.00</span></p>
                </div>
            </div>
        </div>
    }
</div>

